<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UR21_DualAntenna_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <UR21_DualAntenna_Demo.Properties.Settings>
            <setting name="ANTENNA" serializeAs="String">
                <value>DUAL</value>
            </setting>
            <setting name="DUPLICATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SOUND" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VOUCHER" serializeAs="String">
                <value>voucher.xml</value>
            </setting>
            <setting name="PRODUCT" serializeAs="String">
                <value>dummydata.csv</value>
            </setting>
            <setting name="COM1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="COM2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ANTI_SCANNER_COM" serializeAs="String">
                <value>10</value>
            </setting>
        </UR21_DualAntenna_Demo.Properties.Settings>
    </userSettings>
</configuration>